/* .sticy
{
    position: relative;
    left: 400px;
    bottom : 500px;
} */

tr td
{
    text-align: left;
    font-size: 24px;
    
}

tr td:first-child {
    width: 40%;
}

tr
{
    border :none;
}

tr:nth-child(1)
{
    
    border-bottom: 2px solid var(--border-color);
}
tr:last-child
{
    border-top: 2px solid var(--border-color);
}

tr:last-child td:last-child {
    text-align: right;

}   
img{
    margin-right: 50px;
}
td span
{
    font-size: 14px;
}

#sun
{
    margin: 0;
}